doctype html
html(lang="en")
  head
    title= title
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/front-end.js')
    link(rel='stylesheet', type='text/css', href='/styles.css')
  body
    h2#title-id= title
    p= message

    table
      thead
        th Game iD
        th Board Moves
        th Destroy Game
      tbody
        each game in games
          tr
            td
              a(href='/games/' + game.id)= game.id
            td= game.board
            td
              a.delete-link(id = 'delete-' + game.id) DESTROY
